<app-menu></app-menu>

<main class="card-list">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</main>

<div style="text-align: center; margin-top: 2rem;">

  <div *ngIf="!users else userData">
    Loading...
  </div>

  <ng-template #userData>
    <div *ngFor="let user of users" style="display: flex;">
      <span [ngStyle]="{'color': textColor, 'font-size': user.age + 'px', 'font-weight': (user.age > 50) ? 'bold' : 'normal'}">{{ user.name }} </span>
      <div>{{ user.age }} </div> 
      <div class="circle" [ngClass]="{'active': user.isActive, 'inactive': !user.isActive}"></div> 
    </div>
  </ng-template>

</div>