<div class="text-center container">
    <table class="mt-5 table">
        <thead>
            <tr>
                <th class="p-5">#</th>
                <th class="p-5">First Name</th>
                <th class="p-5">Last Name</th>
                <th class="p-5">Email</th>
                <th class="p-5">Expiration Date</th>
                <th class="p-5">Salary</th>
                <th class="p-5">Action</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let user of userList; index as i" [ngClass]="{'table-success': i % 2 === 1}">
                <ng-container *ngIf="user.deletedUser === false">
                    <th class="p-2">{{ user.id }}</th>
                    <td class="p-2">{{ user.firstName | titlecase}}</td>
                    <td class="p-2">{{ user.lastName | slice:0:2 | uppercase }}</td>
                    <td class="p-2">{{ user.email | lowercase}}</td>
                    <td class="p-2">{{ user.expDate | date:"yyyy MMMM dd" }}</td>
                    <td class="p-2">{{ user.salary | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                    <!-- <td class="p-2">{{ user.salary | currency : 'USD':true:'2.0'}}</td>        Elavult megoldás-->
                    <td class="p-2"><button (click)="deleteUser(user)" class="btn btn-danger">Delete</button></td>
                </ng-container>
            </tr>

        </tbody>

    </table>

    <div class="container text-center d-flex justify-content-around my-4">
        <button (click)="getOdds()">Get odd users</button>
        <button (click)="resetTable()">Reset table</button>
        <button (click)="getEven()">Get even users</button>
    </div>
</div>
